version: "3.8"

services:
  postgres:
    image: postgres:14
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ens
      POSTGRES_USER: ens-user
      POSTGRES_PASSWORD: Aa123456@
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
      - "-c"
      - "max_replication_slots=10"
      - "-c"
      - "max_wal_senders=10"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: