services:
  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    command:
      - redis-server
      - --appendonly
      - "yes"
    volumes:
      - redisdata:/data
    networks:
      - shared-net

volumes:
  redisdata:

networks:
  shared-net:
    external: true
