server:
  port: 8000

spring:
  application:
    name: audit
  kafka:
    bootstrap-servers: host.docker.internal:9092
    consumer:
      group-id: audit-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
